section {
  height: 64px;
  opacity: 0;
  transform: translate(0, 50%);
  visibility: hidden;
  transition: opacity 1500ms ease-out, transform 2000ms ease-out;
  will-change: opacity, visibility;
}

.is-visible {
  padding-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transform: none;
  visibility: visible;
  display: flex;
}
