.swiper {
  width: 60%;
  height: 80vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
  padding: 1rem;
  margin-top: 0.5rem;
}
.swiper-pagination .swiper-pagination-bullets .swiper-pagination-horizontal {
  margin-bottom: 15%;
}

.swiper-3d .swiper-slide-shadow-left {
  height: 32rem;
  border-radius: 16px;
  background-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  transform: translate(30px, 0px);
}

.swiper-3d .swiper-slide-shadow-right {
  height: 32rem;
  border-radius: 16px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.swiper-button-next,
.swiper-button-prev {
  background-color: white;
  background-color: rgba(255, 255, 255, 0);
  right: 10px;
  top: 250px;
  padding: 30px;
  color: #000 !important;
  fill: #000 !important;
  stroke: #000 !important;
}

.swiper-pagination-bullet-active {
  background-color: #000 !important;
}

@media only screen and (max-width: 1530px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media only screen and (max-width: 770px) {
  .swiper {
    margin: 0;
    width: 50%;
    height: 90vh;
  }
}
